* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  body {
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 52%); 
  }
  

  
  .LoginView {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, .75);
    color: #808080;
    left: 50%;
    max-width: 1000px;
    padding: 25px 45px 45px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 500px;
    
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .LoginView h1 {
    margin: 0 0 25px;
    text-align: center;
  }
  
  .LoginView button[type=submit] {
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 15px;
    margin-top: 20px;
    max-width: 300px;
    border-radius: 40;
    width: 100%;
    height: 50px;
    align-content: center;
  }
  
  .InputContainer {
    margin-bottom: 10px;
    display: flex;
    
  }
  .InputContainerr {
    margin-bottom: 10px;
  }
  .InputContainer i {
    display: block;
  }
  
  .InputContainer input[type=text]{
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none; 
    max-width: 300px;
    display: block;
    font-family: inherit;
    padding: 10px 5px;
    width: 100%;
    padding-left: 40px;
    background: white url("https://htmlacademy.ru/assets/ifmo/icon-user.png") no-repeat 10px 10px;
  }
  
  .InputContainerr input[type=password]{
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none; 
    max-width: 300px;
    display: block;
    font-family: inherit;
    padding: 10px 5px;
    padding-left: 40px;
    width: 100%;
    background: white url("https://htmlacademy.ru/assets/ifmo/icon-lock.png") no-repeat 10px 10px;
  }
  
.InputCheckbox {
    margin-bottom: 10px; 
    margin-top: 10px;
    display: flex; 
  }
  .formview{
    justify-content: center;
    margin-left: 300px;
    position: static;
  }
  .LinkPass{
    padding-left: 90px;
    font-size: 12px;
  }
  .LinkReg{
    margin-top: 20px;
    padding-left: 40px;
  }
  .forgpass{
    color: gray;
  }
  p{
    color: gray;
    font-size: 12px;
  }
  a{
    color: black;
    font-weight: bold;
  }
  